@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Open+Sans&display=swap');


*{margin: 0;
padding: 0;
}
body {
    background: linear-gradient(180deg, #B5ABBD 0%, #4F4D4B 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

.main__item{
    flex-basis: 460px;
}

.main__title,
.link{
    font-family: 'IBM Plex Serif', serif;
}

.main__title{
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: #2B2024;
    margin-top: 0;
    margin-bottom: 38px;
    line-height: 1.2;
}

.link{
    border: none;
    background-color: #2B2024;
    color: #EFE3DF;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    max-width: 300px;
    width: 100%;
    padding: 16px 0;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.link:hover{
    background: #EFE3DF;
    color: #2B2024;
}

.main__image{
    width: 567px;
    height: 386px;
    margin-left: 102px;
}

.main__img{
    height: 100%;
    width: 100%;
}

.main__text{
    line-height: 1.5;
    margin-bottom: 40px;
}
.container__products {
    display: grid;
    grid-template-columns: 1fr 244px 1fr;
    grid-template-rows: 218px 218px;
    gap: 16px 15px;
    margin-top: 47px;
}
.container__products_cover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.container__products_cover img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.picthure1{
    grid-column: 1/2;
    grid-row: 1/3;

}
.picthure2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.picthure3{
    grid-column: 2/3;
    grid-row: 2/3
}
.picthure4{
    grid-column: 3/4;
    grid-row: 1/3
} 
.products{
    margin-top: 150px;
}
.title2{
    color: #2B2024;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    font-family: IBM Plex Serif;
}
.price {
    display: flex;
    justify-content: center;
    gap: 82px;
    margin-top: 157px;
    margin-bottom: 133px;
}
.form_text {
    margin-bottom: 9px;
}
.form_select {
    margin-bottom: 24px;
    width: 340px;
}
.form_input {
    margin-bottom: 41px;
    width: 90px;
}

.form_select,
.form_input {
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #FFFBFB;
    font-family: 'IBM Plex Serif';
    padding: 17px 26px;
    color: black;
    background-color: transparent;
}




.total_price {
    color: #FFFBFB;  
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: 20px;
}

.total_info{
    margin-top: 0;
    line-height: 1.5;
}

.total_email {
    display: block;
    margin-bottom: 10px;
    color: cyan;
}